@charset "UTF-8"

@import "nib"

// sprite
//@import "sprite/sprite-main"

// original function & mixin
@import "_function"
@import "_mixin"

// reset
global-reset()
reset-html5()

html
  height 100%
  font-family "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Helvetica, Meiryo, "メイリオ", Osaka, 'ＭＳ Ｐゴシック', sans-serif
  font-size 10px
  line-height 1.5
body
  height 100%
  background-color #000
  overflow hidden
img
  vertical-align bottom
